{% extends "layout.twig" %}

{% block content %}

 <header class="bk-header">
   <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
            {{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
    </div>

</header>
<!--<div class="canvas">-->
<div>

<section>
{{widget('responsiveslideshow', 'thisunqiuewidgetname', {'duration':'3', 'transSpeed': '1000', 'transType': 'fade', 'showButtons': true, 'showBullets': true, 'allowPause': false, 'allowLoop': true, 'images':
[
{'imageHeight':'555', 'imageWidth':'1200', 'url':'images/feature-bg1.jpg', 'title':'test title', 'description': 'test desc'},
{'imageHeight':'555', 'imageWidth':'1200', 'url':'images/feature-bg2.jpg', 'title':'test title', 'description': 'test desc'},
{'imageHeight':'555', 'imageWidth':'1200', 'url':'images/feature-bg3.jpg', 'title':'test title', 'description': 'test desc'}
]
})|raw}}
  
  </section>

<!--<div class="inner-bg">-->

<div class="main wrapper clearfix">
{{zone('main')|raw}}
</div>  

<!--</div>-->

</div>


<footer class="bk-footer">
    <div class="wrapper clearfix">
    <div class="responsivecolumns columns-three-33-34-33">
            <div class="column columns-three-left">
            	{{widget('content', 'footercolumn1content1', {"content":'<h4>Company Name</h4>'})|raw}}
				{{widget('logo', 'thisunqiuewidgetname', {"defaultlogo": asset('images/logo.png')})|raw}}
				

            </div>
            <div class="column columns-three-middle">
            	{{widget('content', 'footercolumn2content1', {"content":'<h4>Our Address</h4>'})|raw}}
            	{{widget('profile', 'footercolumn1address', { 'profileType':'address', 'address':'profile'})|raw}}
                {{widget('profile', 'footercolumn2profileemail', { 'profileType':'phone', 'phone':'profile'})|raw}}
            	{{widget('profile', 'footercolumn2profilephone', { 'profileType':'email', 'email':'profile'})|raw}}
            	
            </div>
            <div class="column columns-three-right">
                {{widget('content', 'footercolumn3content1', {"content":'<h4>Find Us at</h4>'})|raw}}
                {{widget('socialicons', 'thisunqiuewidgetname', {'googleplus': 'profile', 'linkedin':'profile', 'facebook': 'profile', 'twitter': 'profile', 'youtube': 'profile', 'rss': 'profile', 'align': 'widget-align-right'})|raw}}
            </div>
        </div>
    </div>
</footer>



{% endblock %}